<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104053640131-m6v2uclub92atme16vpqo9vkp77la9ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104053640131-m6v2uclub92atme16vpqo9vkp77la9ut</string>
	<key>API_KEY</key>
	<string>AIzaSyB6tssNyAiROa5t07TDmqTsAwl10EC1e9I</string>
	<key>GCM_SENDER_ID</key>
	<string>104053640131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kazuyasasakura.movilog</string>
	<key>PROJECT_ID</key>
	<string>movi-log</string>
	<key>STORAGE_BUCKET</key>
	<string>movi-log.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104053640131:ios:8b9e1e7df1b63e950e4b76</string>
</dict>
</plist>